<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
     <link rel="icon" type='image/png' href="../static/img/trofeu.png">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>this code</title>
</head>
<body>

  <i class="bi bi-list menu-mobile"></i>

   <aside id='header'>
       <section class='profile'>
           <img src = "../static/img/fotoDiomar.jpg"/>
           <h1>Diomar Alexandrino</h1>
           </div>

        
           <div class="social-Links mt-4 text-center"> 
               <a target="_blank" href="https://www.linkedin.com/in/diomar-alexandrino-97a75631"><i class="bi bi-linkedin"></i></a>
               <a target="_blank" href="https://web.facebook.com/profile.php?id=100014885985258"><i class="bi bi-facebook"></i></a>
               <a target="_blank" href="https://www.instagram.com/diomaralexandrino/"><i class="bi bi-instagram"></i></a>
               <a target="_blank" href=""><i class="bi bi-github"></i></a>
           </div>
       </section> 

       <nav id='navbar' class="nav-menu">
        <ul class="nav flex-column">
          
            <li class="nav-item">
              <a class="nav-link" href="#inicio"><i class="bi bi-house" aria-hidden="true"></i> Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>  Habilidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>  Currículo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portifolio"><i class="bi bi-collection" aria-hidden="true"></i>  Portifólio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contato"><i class="bi bi-telephone"></i>Contato</a>
              </li>   
          </ul>
       </nav>

   </aside>

<main  id="main">
  <section id="inicio" class="row m-0 p-0"> 
    <div class="col-md-5 d-flex justify-content-center 
    align-items-center flex-column"  >
      <h2 class="text-white text-shadow"> Diomar Alexandrino</h2>
      <span id = "subtitle" class="text-white text-shadow">
         Especialista em SI, Programador Junior</span>
    </div>
   
     <div class="col-md-7 d-flex justify-content-end
     align-items-end" >
      <div id="arraste" class="d-flex align-items-center">
        <i class="bi bi-arrow-down text-white pe-2 fs-2"
        aria-hidden="true"></i>
        <a href="#sobre">arraste para mais</a>
       </div>

     </div>     
          </section>

   <section id='sobre' class="container mt-5"  >
     <div class="row w-100">   
        <div class="col-md-12">
          <h2 class='pt-3'>Sobre</h2>
          <p>
           Acredito que a tecnologia tem o poder de facilitar a vida de pessoas na sociedade
           por que a informação e conhecimento pode transformar vidas. A paixão por tecnologia 
           me influenciou a se formar em especialista em sistemas de informação.
          </p>
         </div> 
       </div> 

          <div class="row mt-4" >
            <div class="col-md-4">
          <img class="img-fluid shadow" src="../static/img/fotoDiomar.jpg"
          alt="Foto de Perfil">
          </div>
          <div class=col-md-8>
            <h3>Suporte Nível 2</h3>
            <p>
              Atualmente trabalho como suporte na HDS, auxiliando no atendimento de chamados
              e soluções tecnológicas internas ou requisições de melhorias no sistema, auxiliando os
              clientes no melhor uso do sistema 
            </p>

           <div class="row">
             <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Niver: <span class="fw-lighter">
                    29 de Dezembro de 1989
                  </span></li>
               
                <li class="list-group-item">
                  Idade: <span class="fw-lighter">
                    32 Anos
                  </span></li>
                <li class="list-group-item">
                 Cidade: <span class="fw-lighter">
                    Cascavel
                  </span></li>
                <li class="list-group-item">
                  Estado: <span class="fw-lighter">
                    PR
                  </span></li>
               
              </ul>
             </div>
             <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                 Hobby: <span class="fw-lighter">
                 Músico de Banda
                  </span></li>      
              </ul>
            </div>
           </div>


           
          </div>
        </div>
        
  </div>
   </section> 

   <section id="habilidades" class="mt-5 section-bg" >
     <div class="container pb-5">
        <h2 class='pt-5'>Habilidades</h2>
        <p>
          Porcentagem de Habilidade que acredito ter nestas tecnologias
           de acordo com minha progressão na área de TI
        </p>

        <div class="row">
          <div class="col-md-6">
            <p class='mt-3 mb-0'>JAVA</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
            <p class='mt-3 mb-0'>JS</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 63%;" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100">63%</div>
            </div>
            <p class='mt-3 mb-0'>DELPHI</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
            </div>
            <p class='mt-3 mb-0'>PHP</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 48%;" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100">48%</div>
            </div>
            <p class='mt-3 mb-0'>HTML</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100">56%</div>
            </div>
            <p class='mt-3 mb-0'>CSS</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 37%;" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100">37%</div>
            </div>
            <p class='mt-3 mb-0'>MYSQL</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 28%;" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100">28%</div>
            </div>
            <p class='mt-3 mb-0'>FIREBIRD</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            <p class='mt-3 mb-0'>GIT</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
            </div>
          </div>
          <div class="col-md-6">
            <p class='mt-3 mb-0'>NODE JS (EXPRESS)</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
            </div>

            <p class='mt-3 mb-0'>POSTGRESQL</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>

            <p class='mt-3 mb-0'>HIBERNATE</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 46%;" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100">46%</div>
            </div>

            <p class='mt-3 mb-0'>JASPER REPORT</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 32%;" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">32%</div>
            </div>

            <p class='mt-3 mb-0'>FAST REPORT</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 32%;" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100">28%</div>
            </div>

            <p class='mt-3 mb-0'>SPRING</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

          </div>
        </div>
        <hr class='w-50 me-auto ms-auto'>
        <div class="row">
       
          <div class="col-md-6">
            <p class='mt-3 mb-0'>Comunicação</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">98%</div>
            </div>

            <p class='mt-3 mb-0'>Trabalho em Equipe</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
          </div>
          <div class="col-md-6">
            <p class='mt-3 mb-0'>EMPATIA</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>    
            <p class='mt-3 mb-0'>COMPROMETIMENTO</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>   
          </div>
        </div>
     </div>

   </section>

   <section id="curriculo" class='mt-5 cv'>
    <div class="container pb-5" >
      <h2 class='pt-3 pb-4'>Currículo</h2>
      <div class="row">
       <div class="col-md-6">
        <h3 class="cv-title">Educação</h3>
        <div class='cv-item'>
          <h4>Técnico em informática</h4>
          <h5>2006 - 2008</h5>
          <p><em>CESA</em></p>
          <p>Introdução a REsolução de problemas de hardware 
            e software, conhecimentos gerais sobre tecnologia.
          </p>
      </div>
        <div class='cv-item'>
            <h4>Esp. Sistemas de Informação</h4>
            <h5>2009 - 2013</h5>
            <p><em>UNIMEO-CTESOP</em></p>
            <p>Especialização voltada a área de 
              tecnologia da Informação e ciência da Informação,
               duração 4 anos.
            </p>
        </div>
        <div class='cv-item'>
          <h4>Certificação Explorador Java</h4>
          <h5>2021</h5>
          <p><em>ORACLE</em></p>
          <p>Certificado fornecido pela Oracle para
            iniciantes em JAVA
          </p>
      </div>
       </div>

       <div class="col-md-6">
        <h3 class= "cv-title"> Profissional</h3>
   
        
      <div class='cv-item'> 
        <h4>Analista de Suporte </h4>
        <h5>2015 - 2017</h5>
        <p><em>Elias Calory e CIA LTDA</em></p>
        <p>Atendimento remoto e presencial
          referente ao sistema para empresas clientes.
        </p>
    </div>
    <div class='cv-item'> 
      <h4>Analista de Suporte Computacional </h4>
      <h5>2019 - 2020</h5>
      <p><em>Tecinco Tecnologia LTDA</em></p>
      <p>Atendimento remoto e presencial
        referente ao sistema para empresas clientes.
      </p>
    </div>
    <div class='cv-item'> 
      <h4>Tecnico de Apoio ao Usuario(Help Desk) </h4>
      <h5>2020 - 2021</h5>
      <p><em>HDS Informatica LTDA</em></p>
      <p>Atendimento remoto e presencial
        referente ao sistema para empresas clientes, 
        Programação e manuntenção de sistemas em java e JS.
      </p>
    </div>
       </div>

      


    </div>
   </section>

   <section id="portfolio" class="mt-5 section-bg">
    <div class="container pb-5 pt-5">
        <h2 class="pb-4">Portfólio</h2>

        <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
           
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
             
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card">
                    <img src="../static/img/bot.png" 
                    class="card-img-top" alt="Bot-Whatssap">
                    <div class="card-body">
                      <h5 class="card-title">Projeto Robô Whatssap</h5>
                      <p class="card-text">
                        Projeto feito em JS para resposta de mensagens do whatssap 
                        de forma automatica e envio de arquivos.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
               
              </div>
             
            </div>
            <div class="carousel-item">
              
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
   </section>

 </main>
   
    <script src="../static/script.js"></script>
</body>
</html>